<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Food_Explorer</title>
    <link rel="stylesheet" asp-href-include="~/css/*.css" asp-href-exclude="~/css/signstyle.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <header>
        <div class="header-content">
            <img class="header-content-logo" src="~/img/logo.svg" alt="">
            <div class="header-content-search-bar">
                <img src="~/img/search.svg" alt="">
                <p class="roboto-regular">Search a dishes or ingredients</p>
            </div>
            <a class="header-content-basket-link" href="~/Home/Basket">
                <img src="~/img/Receipt.svg" alt="">
                <p class="poppins-medium">Basket (0)</p>
            </a>
            @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId").HasValue == false ||
                HttpContextAccessor.HttpContext.Session.GetInt32("UserId") == 0)
            {
                <a href="/Sign/SignIn"><img class="header-content-exit" src="~/img/signIn.png" alt=""></a>
            }
            else
            {
                <a href="@Url.Action("Exit", "Sign")"><img class="header-content-exit" src="~/img/SignOut.svg" alt=""></a>
            }
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer-content">
            <img src="~/img/logo_dark.svg" alt="">
            <p class="roboto-regular">© 2024 - All rights reserved.</p>
        </div>
    </footer>
    <script src="~/js/slider.js"></script>
</body>
</html>
