@{
    ViewData["Title"] = "Basket";
}
<div class="basket-container">
    <div class="basket-container-dishes">
        <h2 class="poppins-medium basket-container-dishes-title">My dishes</h2>
        <div class="basket-container-dishes-items">
            @for(int i = 1; i <= 3; i++)
            {
                <div class="basket-container-dishes-items-item">
                    <img src="~/img/dish.png" alt="">
                    <div class="basket-container-dishes-items-item-text">
                        <div class="basket-container-dishes-items-item-text-name">
                            <div class="basket-container-dishes-items-item-text-name-title">
                                <h3 class="poppins-medium basket-container-dishes-items-item-text-quantity">@i</h3>
                                <h3 class="poppins-medium">x</h3>
                                <h3 class="poppins-medium">Salada Radish</h3>
                            </div>
                            <p style="display: none;" class="basket-container-dishes-items-item-text-price-perone">29.99</p>
                            <p class="roboto-regular basket-container-dishes-items-item-text-price">$29.99</p>
                        </div>
                        <a href="#"><p class="roboto-regular">Delete</p></a>
                    </div>
                </div>
            }
            <div class="basket-container-dishes-items-total-cost poppins-medium">
                <p>Total: $</p>
                <p class="basket-container-dishes-items-total-price"></p>
            </div>
        </div>
    </div>
    <div class="basket-container-payment">
        <h2 class="poppins-medium basket-container-payment-title">Payment</h2>
        <div class="basket-container-payment-block">
            <div class="basket-container-payment-block-pay-types">
                <div class="basket-container-payment-block-pay-types-one" onclick="selectPay(1)">
                    <img src="~/img/pay_pall.svg" alt="" width="32" height="20">
                    <p class="roboto-regular">PayPal</p>
                </div>
                <div class="basket-container-payment-block-pay-types-two" onclick="selectPay(2)">
                    <img src="~/img/CreditCard.svg" alt="">
                    <p class="roboto-regular">Credit Card</p>
                </div>
            </div>
            <form method="post" class="basket-container-payment-block-pay-form">
                <div class="form-field">
                    <label class="roboto-regular">Сard number</label>
                    <input type="text" placeholder="0000 0000 0000 0000" name="number">
                </div>
                <div class="form-field-flex">
                    <div class="form-field">
                        <label class="roboto-regular">Validate</label>
                        <input type="text" placeholder="12/31" name="validate">
                    </div>
                    <div class="form-field">
                        <label class="roboto-regular">CVC</label>
                        <input type="text" placeholder="123" name="cvc">
                    </div>
                </div>
                <div class="form-field">
                    <button type="submit" style="cursor: pointer;">
                        <img src="~/img/Receipt.svg" alt="">
                        <p class="poppins-medium">Finalize payment</p>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/basket.js"></script>