<div class="history-container">
    <h3 class="poppins-medium history-container-title">Order history</h3>
    <div class="history-container-table">
        <div class="history-container-table-head">
            <p class="roboto-bold">Status</p>
            <p class="roboto-bold">Code</p>
            <p class="roboto-bold">Dish information</p>
            <p class="roboto-bold">Adress</p>
            <p class="roboto-bold">Date Order</p>
        </div>
        <div class="history-container-table-item">
            <div>
                <img src="~/img/Ellipse.svg" alt="" width="8" height="8">
                <p class="roboto-regular">Pendente</p>
            </div>
            <p class="roboto-regular">0000004</p>
            <p class="roboto-regular">1 x Salada Radish, 1 x Torradas de Parma, 1 x Chá de Canela, 1 x Suco de Maracujá</p>
            <p class="roboto-regular">Lenin str, 12/2, 31 flat</p>
            <p class="roboto-regular">20/05 às 18h00</p>
        </div>
        <div class="history-container-table-item">
            <div>
                <img src="~/img/Ellipse (1).svg" alt="" width="8" height="8">
                <p class="roboto-regular">Pendente</p>
            </div>
            <p class="roboto-regular">0000004</p>
            <p class="roboto-regular">1 x Salada Radish, 1 x Torradas de Parma, 1 x Chá de Canela, 1 x Suco de Maracujá</p>
            <p class="roboto-regular">Lenin str, 12/2, 31 flat</p>
            <p class="roboto-regular">20/05 às 18h00</p>
        </div>
        <div class="history-container-table-item">
            <div>
                <img src="~/img/Ellipse (2).svg" alt="" width="8" height="8">
                <p class="roboto-regular">Pendente</p>
            </div>
            <p class="roboto-regular">0000004</p>
            <p class="roboto-regular">1 x Salada Radish, 1 x Torradas de Parma, 1 x Chá de Canela, 1 x Suco de Maracujá</p>
            <p class="roboto-regular">Lenin str, 12/2, 31 flat</p>
            <p class="roboto-regular">20/05 às 18h00</p>
        </div>
    </div>
</div>