@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="~/css/fontstyle.css">
    <link rel="stylesheet" href="~/css/signstyle.css">
</head>
<body>
    <div class="main-container">
        <a href="/Home/Catalog"><img src="~/img/logo.svg"></a>
        <div class="main-container-block">
            <form method="post" class="main-container-form">
                <h2 class="poppins-medium">Make a account</h2>
                <div class="form-field">
                    <label class="roboto-regular">Your name</label>
                    <input type="text" placeholder="For example: Bob" name="name">
                </div>
                <div class="form-field">
                    <label class="roboto-regular">Email</label>
                    <input type="email" placeholder="For example: exemplo@exemplo.com.br" name="email">
                </div>
                <div class="form-field">
                    <label class="roboto-regular">Passwrod</label>
                    <input type="password" placeholder="6 chars minimum" name="password">
                </div>
                <button class="form-send-button" type="submit"><p class="poppins-medium">Create account</p></button>
                <a class="form-send-link" href="~/Sign/SignIn"><p class="poppins-medium">I have a account</p></a>
            </form>
        </div>
    </div>
</body>
</html>