@{
    ViewData["Title"] = "Edit Dish (Admin)";
}
<div class="add-container">
    <div class="add-container-back-link">
        <a href="/Home/CatalogAdmin">
            <img src="~/img/CaretLeft.svg" alt="">
            <h3 class="poppins-bold">back</h3>
        </a>
    </div>
    <div class="add-container-block">
        <h2 class="poppins-medium">Adding a dish</h2>
        <form method="post" class="add-container-block-form">
            <div class="form-field">
                <label class="roboto-regular">Image for dish</label>
                <div class="form-field-file">
                    <img src="~/img/UploadSimple.svg" alt="">
                    <p class="poppins-medium">Select image</p>
                </div>
            </div>
            <div class="form-field">
                <label class="roboto-regular">Name</label>
                <input type="text" placeholder="For example: Salada Ceasar" name="name">
            </div>
            <div class="form-field">
                <label class="roboto-regular">Category</label>
                <select name="category">
                    <option value="1">Food</option>
                    <option value="2">Drinks</option>
                    <option value="2">Desserts</option>
                </select>
            </div>
            <div class="form-field">
                <label class="roboto-regular">Image for dish</label>
                <div class="form-field-ingridients">
                    <span class="form-field-ingridients-item">
                        <p class="roboto-regular">Bread</p>
                        <img src="~/img/Close.svg" alt="">
                    </span>
                    <span class="form-field-ingridients-item">
                        <p class="roboto-regular">Bread</p>
                        <img src="~/img/Close.svg" alt="">
                    </span>
                    <span class="form-field-ingridients-item">
                        <p class="roboto-regular">Bread</p>
                        <img src="~/img/Close.svg" alt="">
                    </span>
                    <span class="form-field-ingridients-item">
                        <p class="roboto-regular">Bread</p>
                        <img src="~/img/Close.svg" alt="">
                    </span>
                    <span class="form-field-ingridients-item-add">
                        <p class="roboto-regular">Add</p>
                        <img src="~/img/Plus.svg" alt="">
                    </span>
                </div>
            </div>
            <div class="form-field">
                <label class="roboto-regular">Price</label>
                <input type="text" placeholder="$19.00" name="price">
            </div>
            <div class="form-field">
                <label class="roboto-regular">Description</label>
                <textarea name="description" placeholder="Briefly tell us about the dish, its ingredients and composition"></textarea>
            </div>
            <div class="add-container-block-form-send-buttons">
                <button type="submit">
                    <p class="poppins-medium">Delete dish</p>
                </button>
                <button type="submit">
                    <p class="poppins-medium">Save changes</p>
                </button>
            </div>
        </form>
    </div>
</div>